body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  margin: 0 2rem;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 170, 170)
  
}

.NavBar a {
  color: rgb(10, 72, 30);
  text-decoration: none;
  padding: 1rem;
}

.NavBar span {
  padding: 1rem;
}

.NavBar a.active {
  color: seashell;
  background-color: rgb(48, 60, 148);
}
